{% extends 'profile_base.html' %}

{% block title %}Your Projects{% endblock title %}

{% block content %}

<div class="container">
    <h1>Your Projects</h1>
    <p>This is a way to collaborate on and submit projects you're working on to play on-air</p>
</div>

<div class="container">
    <table class="table">
    {% for project in userprofile.project_set.all %}
        <tr class="row">
            <td>
                <span class="title">
                    <a href="{{ project.get_absolute_url }}">
                        {{ project.title }}
                    </a>
                </span>
                <span class="info">
                    Created: {{ project.created }} <br/>
                    Estimated completion: {{ project.expected_completion_date }}
                </span>
            </td>
            <td class="right">
                {{ project.number_of_submissions }} submission(s)
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="container">
    <h2>Create a new project:</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ project_form.as_p }}
        <br>
        <input type="submit" class="button green-bg" value="Create New Project" style="width:100%"/>
    </form>
</div>

{% endblock content %}
