{% extends 'profile_base.html' %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
    <!-- added for date picker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2050",
        defaultDate: new Date(),});
});
</script>

<div class="container project-container">
    <h1>{{ project.title }}</h1>
    <p>Created: {{ project.created }}</p>
    <p>{{ project.description }}</p>
    <br/><br/>
    <p>Users</p>
    <p>Owner: {{ project.owner }}</p>
    {% for user in project.users.all %}
        <p>Member: {{ user }}</p>
    {% endfor %}
</div>
<div class="container">
    <h2>Submissions</h2>
    {% for sub in project.projectsubmission_set.all %}
        <div class="flex-container container">
            <div class="flex-item">
                <p>{{ sub.title }}</p>
                <p>Created {{ sub.created }}</p>
            </div>
            <div class="flex-item right">
                <p>Status: {{ sub.get_status_display }}</p>
                <p>Updated {{ sub.updated }}</p>
            </div>
        </div>

        <hr>
    {% endfor %}
</div>
<div class="container">
    <h3>Invite user</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ invite_user_form.as_p }}
        <input type="submit" class="button green-bg" value="Invite" style="width:100%"/>
    </form>
</div>
<div class="container">
    <h3>Add submission</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ submission_form.as_p }}
        <input type="submit" class="button green-bg" value="Submit" style="width:100%"/>
    </form>
</div>
<div class="container">
    <h3>Edit Project Details</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "wrapper">
            <i class="fas fa-pencil-alt" id="fa-edit-prof"></i>
            <label>{{ project_form.title.label }}</label>
            {{ project_form.title }}
        </div>
        <br>
        <div class = "wrapper">
            <label>{{ project_form.description.label }}</label>
            {{ project_form.description }}
        </div>
        <br>
        <div class = "wrapper">
            <i class="fa fa-calendar" id="fa-edit-prof"></i>
            <label>{{ project_form.expected_completion_date.label }}</label>
            {{ project_form.expected_completion_date }}
            <!-- <p id="pass-help">Expected completion date</p> -->
        </div>
        <br>
        <input type="submit" class="button green-bg" value="Save" style="width:100%"/>
    </form>
</div>
{% endblock content %}
