{% extends 'profile-base.html' %}

{% block title %}Your projects{% endblock title %}

{% block content %}

<div class="container">
    <h1>Your projects</h1>
    <p>This is a way to collaborate on and submit projects you're working on to play on-air</p>
</div>
<div class="container">
    <p><i>Make a new project</i></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ project_form.as_p }}
        <input type="submit" class="button green-bg"/>
    </form>
</div>
<div class="container">
    {% for project in userprofile.project_set.all %}
        <div class="flex-container project-container">

            <div class="flex-item">
                <h2>
                    <span><a href="{{ project.get_absolute_url }}">{{ project.title}}</a>
                </h2>
                <span>Created: {{ project.created_on }}</span>
            </div>

            <div class="flex-item">
                <h3>Submissions</h3>
                {% for sub in project.recent_submissions %}
                    <div>
                        <p>{{ sub.title}}</p>
                    </div>
                {% endfor %}
                {% if project.projectsubmission_set.all|length > 3 %}
                    <span><a href="{{ project.get_absolute_url }}">...</a></span>
                {% endif %}
            </div>

        </div>
    {% endfor %}
<div class="container">
{% endblock content %}