{% extends 'base.html' %}

{% block title %}Equipment{% endblock title %}

{% block pagecontent %}

<div class="container">

    <h1>Equipment inventory</h1>

    {% for equip in equipment %}

    <div>
        <div>
            <a href="{{ equip.get_absolute_url }}">
                <img src="/static/media/{{ equip.image }}" width="100"/>
            </a>
        </div>
        <div>
            <p>
                <a href="{{ equip.get_absolute_url }}">
                    <b>{{ equip.make }} {{ equip.model }}</b>
                </a>
            </p>
        </div>
    </div>

    <p></a></p>

    {% endfor %}

</div>


{% endblock pagecontent %}