{% extends 'base.html' %}

{% block title %}Equipment item{% endblock title %}

{% block pagecontent %}

<div class="container">

    <h1>{{ item.make }} {{ item.model }}</h1>

    <img src="/static/media/{{ item.image }}" width="300">

    <p>{{ item.description }}</p>
    <p>Quantity: {{ item.quantity }}</p>

    {% if user.is_authenticated %}
        <p><a href="{{ item.get_checkout_url }}" class="button blue-bg">Check out</a></p>
    {% else %}
        <p><a href="{{ item.get_checkout_url }}">Log in</a> to check out this item</p>
    {% endif %}

</div>


{% endblock pagecontent %}