{% extends 'snapshot_base.html' %}

{% block title %}Fayetteville Public Television{% endblock title %}

{% block content %}

    <div class="container">
        <h2>Overdue checkouts</h2>

        <table class="table">
            <tr class="row">
                <th>User</th>
                <th>Equipment</th>
            </tr>

            {% for checkout in overdue_checkouts %}

             <tr class="row">
                <td>
                    <b>{{ checkout.user_name }}</b> <br/>
                    {{ checkout.user.email }} - {{ checkout.user_profile.phone_number }}
                </td>
                <td>
                    <b>{{ checkout.equipment.make }} {{ checkout.equipment.model }}</b> <br/>
                    <b>Checked out</b>: {{ checkout.checkout_date }} <br/>
                    <b>Due</b>: {{ checkout.due_date }} - {{ checkout.due_date_humanized }}
                </td>
             </tr>

            {% endfor %}

        </table>

    </div>

    <div class="container">
        <h2>Today's classes</h2>

        {% for class in todays_classes %}

            <table class="table">

                <tr class="row">
                    <th>{{ class.class_key.class_title }}</th>
                    <th>{{ class.date }} - {{ class.date_humanized }}</th>
                    <th>Registrations: {{ class.class_key.number_registered }}</th>
                </tr>

                {% for registration in class.classregistration_set.all %}
                    <tr class="row">
                        <td>{{ registration.user }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

            </table>

        {% endfor %}

    </div>

{% endblock content %}