{% extends 'snapshot_base.html' %}

{% block title %}Fayetteville Public Television{% endblock title %}

{% block content %}
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
</head>

    <div class="container">

        <div class="container">

            <h1>Profile Snapshot:</h1>
            <h3>Your checkouts</h3>

            <table class="table">
            {% for checkout in checkouts %}

            <tr class="row">
                <td>
                    <span class="title">
                        {{ checkout.equipment.make }} {{ checkout.equipment.model }}
                    </span>
                    <span class="info">
                        Checked out: {{ checkout.checkout_date }} <br/>
                        Due: {{ checkout.due_date }}
                    </span>
                </td>
                <td class="right">
                    {% if checkout.checkout_status == 'RESERVED' %}

                        <span style="display: inline-block; vertical-align:middle;">
                            Reserved<br/>
                            Pick up {{ checkout.checkout_date }}<br/>
                            Due {{ checkout.due_date_humanized }}
                        </span>
                        <span style="display: inline-block; vertical-align:middle;" class="circle blue-bg"></span>

                    {% elif checkout.checkout_status == 'CHECKED_OUT' %}

                        <span style="display: inline-block; vertical-align:middle;">
                            Checked out<br/>
                            Due {{ checkout.due_date_humanized }}
                        </span>

                        <span style="display: inline-block; vertical-align:middle;" class="circle yellow-bg"></span>

                    {% elif checkout.checkout_status == 'RETURNED' %}

                        <span style="display: inline-block; vertical-align:middle;">
                            Returned
                        </span>
                        <span style="display: inline-block; vertical-align:middle;" class="circle green-bg"></span>

                    {% endif %}
                </td>
            </tr>

            {% empty %}
            
            <tr class="row">
                <td>
                    <span class="title">
                        You have nothing checked out!
                    </span>
                </td>
            </tr>

            {% endfor %}
            </table>
        </div>

        <div class="container">
            <h3>Your classes</h3>


            <table class="table">
            {% for reg in class_registrations %}

            <tr class="row">
                <td>
                    <span class="title">
                        {{ reg.class_title }}
                    </span>
                    <span class="info">
                        {{ reg.class_section.date_humanized }}
                    </span>
                </td>
                <td class="right">
                    <span>
                        {{ reg.section }}<br/>
                        {% if reg.completed and reg.score_percentage %}
                            Complete - {{ reg.score_percentage }}%
                        {% else %}
                            Incomplete
                        {% endif %}
                    </span>
                </td>
            </tr>

            {% empty %}

            <tr class="row">
                <td>
                    <span class="title">
                        You're not registered for any classes!
                    </span>
                </td>
            </tr>

            {% endfor %}
            </table>
        </div>

        <div class="container">

            <h3>Your projects</h3>

            <table class="table">
            {% for project in profile.projects %}
                <tr class="row">
                    <td>
                        <span class="title">
                            <a href="{{ project.get_absolute_url }}">
                                {{ project.title }}
                            </a>
                        </span>
                        <span class="info">
                            Created: {{ project.created }}
                        </span>
                    </td>
                </tr>

            {% empty %}

                <tr class="row">
                    <td>
                        <span class="title">
                            No projects here!
                        </span>
                    </td>
                </tr>

            {% endfor %}
            </table>
            <a href="/profile/projects" class="button green-bg">Start a project</a>

        </div>
        
    </div>

{% endblock content %}