{% extends 'base.html' %}

{% block title %}Password reset sent{% endblock title %}

{% block pagecontent %}

<div class="container">
    <h1>Password reset sent</h1>
    <p>Check your email for instructions on resetting your password. If you did not receive an email, please verify that the email you entered belongs to your account.</p>
</div>
<!-- <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button green-bg"/>
    </form>
</div> -->

{% endblock pagecontent %}