{% extends 'base.html' %}

{% block pagecontent %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class registration</title>
</head>
<body>


<div class="container">
    <h1>{{ class.class_title }}</h1>
</div>

<div class="container">

    <p> {{ class.class_description }}</p>


    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Register" class="button green-bg">
        <table>

            {% for sect in class.get_open_sections %}
            <tr>
                <td>

                    <label>
                        <input type="radio" name="section_id" value="{{ sect.id }}"/> 
                        {{ class.class_title }}
                    </label>
                </td>
                <td>{{ sect.date }} ({{ sect.date_humanized }})</td>
                <td>{{ sect.number_open_seats }} seat(s) available</td>
            </tr>
            {% endfor %}

        </table>
    </form>

    

</div>
{% endblock pagecontent %}

</body>
</html>

 
