{% extends 'base.html' %}

{% block pagecontent %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
<h1>{{ Classes.class_title}}</h1>


<div class="container">
    <h1>Classes</h1>
    <p>Page to view classes that are offered</p>
</div>
<div class="container">
    <!--<label >{{ class_key.class_title }}</label><br />-->
    The names are:
    {%for item in output%}
        <div class="class_listing" style="background-color:blue; padding-bottom:1cm; padding-left:1cm; float:center" >
           <h3> {{item.class_title}}</h3>
            <p> {{item.class_description}}</p>
        </div>
    {% endfor %}

</div>
{% endblock pagecontent %}

</body>
</html>


