{% extends 'base.html' %}

{% block pagecontent %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
    <h1>Classes</h1>
</div>

<div class="container">

    <form action="" method="get">
        <div class = "wrapper">
            <i class="fa fa-search" id="fa-search"></i>
            <input type="text" name="q" placeholder="Search" value="{{ search }}" class="search-bar">
            <input type="submit" class="button blue-bg search-button" value="Search">
        </div>
    </form>

    <br/>

    <table class="table">
    {% for item in classes %}
        <tr class="row">
            <td>
                <span class="title">
                    <a href="{{ item.get_register_url }}">
                        {{ item.class_title }}
                    </a>
                </span>
                <span class="info">
                    {{ item.class_description }}
                </span>
            </td>
            <td>
                {{ item.get_open_sections|length }} open section(s)
            </td>
            <td>
                {% if user.is_authenticated %}
                    <a href="{{ item.get_register_url }}" class="button blue-bg">Register</a>
                {% else %}
                    <a href="{{ item.get_register_url }}">Log in</a> to register
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock pagecontent %}

</body>
</html>
