{% extends 'base.html' %}

{% block pagecontent %}

<div class="container flex-container">
    <div class="flex-item space">
        <img src="/static/media/{{ equipment.image }}" width="300">
        <h1>{{ equipment.make }} {{ equipment.model }}</h1>
        <p>{{ equipment.description }}</p>
        <p>{{ equipment.available }} unit(s) available</p>
    </div>

    <div class="flex-item space">
        <h2>Check out "{{ equipment.make }} {{ equipment.model }}"</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ checkout_form.as_p }}
            <p>
                <label>Project</label>
                <select name="project_id" required>
                    <option disabled selected>-----</option>
                    {% for project in userprofile.project_set.all %}
                        <option value="{{ project.id }}">{{ project.title }}</option>
                    {% endfor %}
                </select>
            </p>
            
            <input type="submit" class="button green-bg"/>
        </form>
    </div>
</div>
{% endblock pagecontent %}
