{% extends 'base.html' %}
{% block pagecontent %}

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
    <!-- added for date picker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2050",
        defaultDate: new Date(),});
});
</script>

<div class="container flex-container">
    <div class="flex-item space">
        <img src="/static/media/{{ equipment.image }}" width="300">
        <h1>{{ equipment.make }} {{ equipment.model }}</h1>
        <p>{{ equipment.description }}</p>
        <p>{{ equipment.available }} unit(s) available</p>

        <p><b>Badges required</b></p>
        {% for badge in equipment.prerequisite_badges.all %}
            <p>{{ badge.title }}</p>
        {% endfor %}
    </div>

    <div class="flex-item space">
        <h2>Check out "{{ equipment.make }} {{ equipment.model }}"</h2>

        <div class="alert alert-danger">
          <strong>{{ err_msg }}</strong>
        </div>

        {% if request.user.owner_projects.exists or request.user.project_set.exists %}
          <form action="" method="post">
              {% csrf_token %}
              <div class = "wrapper">
                  <i class="fa fa-calendar" id="fa-edit-prof"></i>
                  <label>Checkout date:</label>
                  {{ checkout_form.checkout_date }}
              </div>
              <br>
              <div>
                  <p>
                      <label>Project</label>
                      <select name="project_id" required style="width:55%">
                          <option disabled selected>-----</option>
                          {% for project in userprofile.projects %}
                              <option value="{{ project.id }}">{{ project.title }}</option>
                          {% endfor %}
                      </select>
                  </p>
              </div>
              <input type="submit" class="button green-bg" value="Check out" style="width:100%"/>
          </form>
        {% else %}
          <div class="alert alert-danger">
            <strong>Sorry!</strong> You should <a href="/profile/projects" class="alert-link">create a project</a> in order to check out equipment.
          </div>
        {% endif %}
        <!-- <form action="" method="post">
            {% csrf_token %}
            <div class = "wrapper">
                <i class="fa fa-calendar" id="fa-edit-prof"></i>
                <label>Checkout date:</label>
                {{ checkout_form.checkout_date }}
            </div>
            <br>
            <div>
                <p>
                    <label>Project</label>
                    <select name="project_id" required style="width:55%">
                        <option disabled selected>-----</option>
                        {% for project in userprofile.projects %}
                            <option value="{{ project.id }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <input type="submit" class="button green-bg" value="Check out" style="width:100%"/>
        </form> -->
    </div>
</div>
{% endblock pagecontent %}
