{% extends 'base.html' %}

{% block title %}Equipment{% endblock title %}

{% block pagecontent %}

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
</head>

<div class="container flex-container">
    <div class="container flex-item sidebar submenu">
        <h2>Categories</h2>

        <ul>
            <li><a href="/equipment/">All</a></li>
        {% for cat in categories %}
            <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="flex-item sidebar content">
        {% if category %}
            <h1>{{ category.title }} inventory</h1>
        {% else %}
            <h1>Equipment inventory</h1>
        {% endif %}

        <br/>

        <form action="" method="get">
            <div class = "wrapper">
                <i class="fa fa-search" id="fa-search"></i>
                <input type="text" name="q" placeholder="Search" value="{{ search }}" class="search-bar">
                <input type="submit" class="button blue-bg search-button" value="Search">
            </div>
        </form>

        <br/>


        <table class="table">
        {% for equip in equipment %}
            <tr class="row">
                <td class="media">
                    <a href="{{ equip.get_checkout_url }}">
                        <img src="/static/media/{{ equip.image }}"/>
                    </a>
                </td>
                <td>
                    <span class="title">
                        <a href="{{ equip.get_checkout_url }}">
                            {{ equip.make }} {{ equip.model }}
                        </a>
                    </span>
                    <span class="info">
                        {{ equip.description }}
                    </span>
                </td>
                <td>{{ equip.available }} unit(s) available</td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{{ equip.get_checkout_url }}" class="button blue-bg">Check out</a>
                    {% else %}
                        <a href="{{ equip.get_checkout_url }}">Log in</a> to check out
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

    </div>

</div>

{% endblock pagecontent %}
