/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  left: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 8px 0px;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  flex: 1 1 auto;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1067px;
  margin: 0px auto;
  padding: 6px;
}

.right {
  text-align: right;
}

.button {
  display: inline-block;
  padding: 12px 14px;
  border-radius: 4px;
  text-decoration: none;
}
.button.red-bg:hover {
  background: rgb(168, 0, 48);
  color: rgba(255, 255, 255, 0.9);
}
.button.green-bg:hover {
  background: rgb(10, 134, 87);
  color: rgba(255, 255, 255, 0.9);
}
.button.blue-bg:hover {
  background: rgb(3, 68, 100);
  color: rgba(255, 255, 255, 0.9);
}

.red-bg {
  background: #F70044;
  color: #fff;
}

.green-bg {
  background: #11CD86;
  color: #fff;
}

.blue-bg {
  background: #066FA5;
  color: #fff;
}

.yellow-bg {
  background: #f1c40f;
  color: #fff;
}

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin: 0px 10px;
}

.space {
  padding: 12px;
}

/* */


/* Navigation */

.navigation {
  width: 100%;
}

#account-navigation {
  background: #393939;
  color: #fff;
  text-align: right;
}
#account-navigation ul {
  list-style-type: none;
}
#account-navigation ul li {
  display: inline-block;
}
#account-navigation ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
}
#account-navigation ul li a:hover {
  color: #bbb;
}


#main-navigation {
  background: #f6d600;
}

#main-navigation #brand {
  max-width: 200px;
  width: 100%;
}
#main-navigation #brand a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 14px;
}
#main-navigation #links {
  text-align: right;
}
#main-navigation ul {
  list-style-type: none;
}
#main-navigation ul li {
  display: inline-block;
}
#main-navigation ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 14px;
}
#main-navigation ul li a:hover {
  color: rgba(51, 51, 51, 0.6);
}

.sidebar.submenu {
  min-width: 300px;
  width: 33%;
}
.sidebar.submenu ul {
  list-style-type: none;
}
.sidebar.submenu li a {
  display: block;
  padding: 8px 2px;
}

.sidebar.content {
  width: 66%;
}

/* */

/* Forms */

label {
  display: block;
  font-weight: bold;
  width: 100%;
}

input {
  display: block;
  padding: 4px;
  background: #fff;
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #bbb;
  max-width: 300px;
  font-size: 10pt;
  border-radius: 2px;
}

input[type=radio] {
  -webkit-appearance: radio;
  width: auto;
}
input[type=checkbox] {
  -webkit-appearance: checkbox;
  width: auto;
}

input[type=submit] {
  width: auto;
  background: auto;
  border: none;
}

.helptext{
  font-size: 10pt;
  color: #666;
}
.errorlist li {
  font-size: 10pt;
  color: #c0392b;
}
.errorlist ul {
  list-style-type: none;
}

.search-bar, .search-button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 14px;
}

/* */

/* Projects */

.table {
  width: 100%;
  border-collapse: collapse;
}
.row .media {
  width: 140px;
}
.row .media img {
  width: 100%;
}

.row {
  background: #ecf0f1;
  border-bottom: 1px solid #fff;
}

.row .title {
  display: block;
  font-weight: bold;
  font-size: 14pt;
}

.row .info {
  font-size: 10pt;
}

.row td {
  padding: 8px 12px;
}

/* */


/* Equipment */

.equipment-item {
  flex-wrap: nowrap;
  margin: 12px 0px;
}

.equipment-item .thumbnail {
  width: 30%;
  min-width: 80px;
  max-width: 240px;
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: top;
  padding: 6px;
}

.equipment-item .thumbnail img {
  display: block;
  width: 100%;
}

.equipment-item .info {
  vertical-align: top;
  padding: 6px;
}

/* */


/* classes */




/* */