{% extends 'profile_base.html' %}

{% block title %}Your profile{% endblock title %}

{% block content %}

<div class="container">
    <h1>Your profile</h1>
    <p>Complete your profile to be able to sign out equipment, register for classes, and submit your projects to be viewed on-air</p>
</div>

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label>First name:</label>
            <input type="text" name="user_first_name" value="{{ request.user.first_name }}" required>
        </p>
        <p>
            <label>Last name:</label>
            <input type="text" name="user_last_name" value="{{ request.user.last_name }}" required>
        </p>
        {{ profile_form.as_p }}
        <input type="submit" class="button green-bg" value="Save profile"/>
    </form>
</div>

{% endblock content %}