{% extends 'profile-base.html' %}

{% block title %}Your profile{% endblock title %}

{% block content %}

<div class="container">
    <h1>Your profile</h1>
    <p>Complete your profile to be able to sign out equipment, register for classes, and submit your projects to be viewed on-air</p>
</div>

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" class="button green-bg" value="Save profile"/>
    </form>
</div>

{% endblock content %}