{% extends 'profile_base.html' %}

{% block title %}Your profile{% endblock title %}

{% block content %}

<div class="container">
    <h1>Your profile</h1>
    <p>Welcome back, {{ profile.user.first_name }}</p>
</div>

<div class="container">
    <h2>Your projects</h2>
    <a href="/profile/projects" class="button green-bg">Start a project</a>
    <br/><br/>

    <table class="table">
        {% for project in profile.project_set.all %}
            <tr class="row">
                <td>
                    <span class="title">
                        <a href="{{ project.get_absolute_url }}">
                            {{ project.title }}
                        </a>
                    </span>
                    <span class="info">
                        Created: {{ project.created }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </table>


    <br/>

    <h2>Your badges</h2>

    {% for badge in profile.earned_badges %}
        {{ badge.title }}
    {% endfor %}

</div>

{% endblock content %}