{% extends 'profile_base.html' %}

{% block title %}Change password{% endblock title %}

{% block content %}

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js" integrity="sha384-nVi8MaibAtVMFZb4R1zHUW/DsTJpG/YwPknbGABVOgk5s6Vhopl6XQD/pTCG/DKB" crossorigin="anonymous"></script>
</head>

<div class="container">
    <h1>Change password</h1>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class = "wrapper">
        	<i class="fa fa-hand-peace" id="fa-icon"></i>
        	{{ form.old_password }}
        </div>
        <br>
        <div class = "wrapper">
        	<i class="fa fa-unlock-alt" id="fa-icon"></i>
        	{{ form.new_password1 }}
        	<p id="pass-help">Must contain 8 characters, with at least 1 letter</p>
        </div>
        <br>
        <div class = "wrapper">
        	<i class="fa fa-check-circle" id="fa-icon"></i>
        	{{ form.new_password2 }}
        </div>
        <br>
        <input type="submit" class="button green-bg" value="Change Password" style="width:100%"/>
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_old_password").attr('placeholder', '{{form.old_password.label}}');
        $("#id_new_password1").attr('placeholder', '{{form.new_password1.label}}');
        $("#id_new_password2").attr('placeholder', '{{form.new_password2.label}}');
    });
</script>

{% endblock content %}
